
<div class='mt-3 row'>
  <div class='col-md-9 jumbotron'>
    <h3 class='fw-light' style='letter-spacing: 3px;'><%= t '.last' %></h3>
    <div class='row' id='dashboard-container'>
      <%= render partial: 'recipes/recipe_dashboard', locals: { recipes: @recent } %>
    </div>

    <h3 class='fw-light mt-4' style='letter-spacing: 3px;'><%= t '.best' %></h3>
    <div class='row' id='dashboard-container'>
      <%= render partial: 'recipes/recipe_dashboard', locals: { recipes: @best } %>
    </div>
  </div>
  <div class='subnemu col-md-3 ps-4'>
    <%= render 'shared/submenu' %>
  </div>
</div>
