<div class="media mt-4 section-<%= comment.id %>">
  <div class='mt-4' id="<%= dom_id(comment) %>">
    <div class='row' id="content_<%= dom_id(comment) %>">
      <div class="col-md-1">
        <%= image_tag user_avatar(comment.user, 50), class: "rounded-circle" %>
      </div>
      <div class='col'>
        <%= comment.body %>
        <div class='d-flex mt-2 justify-content-between'>
          <div class="fw-lighter">
            <small>
              <%= full_name(comment.user) %> (<%= time_ago_in_words(comment.created_at) %> <%= t '.ago' %>)
            </small>
          </div>

          <div class='d-flex'>
            <% if policy(comment).voted? %>
              <div class='d-flex'>
                <%= render 'comments/upvote_link', comment: comment %>
                <%= render 'comments/like_count', comment: comment %>
                <%= render 'comments/downvote_link', comment: comment %>
              </div>
            <% end %>
            <% if policy(comment).destroy? %>
              <div class='ms-5'>
                <%= link_to edit_recipe_comment_path(@recipe, comment), remote: true, class: "text-decoration-none me-1" do %>
                  <i class="fas fa-pencil-alt fs-5"></i>
                <% end %>
                <%= link_to recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none", remote: true do %>
                  <span class=''>&#x274C;</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="<%= dom_id(comment, :add_reply_section) %> add-reply-section offset-1 mt-1">
      <div class="my-2 <%= dom_id(comment, :errors_inline_form) %>"></div>
      <%= link_to t('.reply_comment'), '#', class: "btn btn-light mt-4 mb-3 show_hide_form", id: "#{dom_id(comment, :replay_form)}" %>
      <div class='d-none'>
      <%= render 'comments/form_reply', recipe: @recipe, parent: comment, comment: @recipe.comments.build %>
      </div>
    </div>
    <div class="replies-section-<%= dom_id(comment) %>">
      <% if @replies&.key?(comment.id) %>
        <% @replies[comment.id].each do |reply| %>
          <div class="media mt-4">
            <%= render 'comments/reply', comment: reply %>
          </div>
        <% end %>
      <% end %>
    </div>
  <hr class="<%= dom_id(comment, :hr_jumbo) %>">
  </div>
</div>

