<div class="media mt-4">
  <div class='mt-4 offset-1' id="<%= dom_id(comment) %>">
    <div class='row' id="content_<%= dom_id(comment) %>">
      <div class="col-md-1">
        <%= image_tag user_avatar(comment.user, 50), class: "rounded-circle" %>
      </div>
      <div class='col'>
        <%= comment.body %>
        <div class='d-flex mt-2 justify-content-between'>
          <div class="fw-lighter">
            <small>
              <%= full_name(comment.user) %> (<%= time_ago_in_words(comment.created_at) %> <%= t '.ago' %>)
            </small>
          </div>

          <div class='d-flex'>
            <% if policy(comment).voted? %>
              <div class='d-flex'>
                <%= render 'comments/upvote_link', comment: comment %>
                <%= render 'comments/like_count', comment: comment %>
                <%= render 'comments/downvote_link', comment: comment %>
              </div>
            <% end %>
            <% if policy(comment).destroy? %>
              <div class='ms-5'>
                <%= link_to edit_recipe_comment_path(@recipe, comment), remote: true, class: "text-decoration-none me-1" do %>
                  <i class="fas fa-pencil-alt fs-5"></i>
                <% end %>
                <%= link_to recipe_comment_path(@recipe, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none", remote: true do %>
                  <span class=''>&#x274C;</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
