<div class="progress">
  <div class='progress-bar' style="width: <%= @progress %>%">
  </div>
</div>

<h4 class='mt-4'><%= t('.stage_4') %></h4>
<%= form_for @recipe, url: wizard_path, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>
  <template data-nested-form-target="template">
    <div class="form-group field mt-3 mb-2">
      <%= f.fields_for :steps, Step.new, child_index: 'NEW_RECORD' do |step_fields| %>
        <%= render "form_step", f: step_fields %>
      <% end %>
    </div>
  </template>

  <div class="form-group field mt-3 mb-2">
    <%= f.fields_for :steps do |step_fields| %>
      <%= render "form_step", f: step_fields %>
    <% end %>
  </div>

  <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>

  <button class='mt-2 btn btn-light' type="button" data-action="nested-form#add">
    ⬇ <%= t('.add_step') %>
  </button>
  <div>
    <%= f.file_field :step_images, multiple: true, class: "form-control form-control-sm w-50 mx-auto" %>
  </div>

  <div class="actions mt-4">
    <%= f.submit t('global.finish'), class: 'btn btn-primary' %>
    or <%= link_to t('global.skip'), next_wizard_path, class: 'text-decoration-none' %>
  </div>
<% end %>
