<div class="progress">
  <div class='progress-bar' style="width: <%= @progress %>%">
  </div>
</div>

<%= form_for @recipe, url: wizard_path do |form| %>
  <h1 class='mt-3'><%= t('.stage_2') %></h1>
  <div class='mt-3'>
    <div class='more-recipe-info'>
      <div class='d-flex justify-content-around mt-5'>
        <div class="form-inline d-flex align-items-center justify-content-center col-3">
          <%= form.label :serves, 'Serves:', class: 'w-25' %>
          <%= form.number_field :serves, autofocus: false, class: 'form-control form-control-sm w-50', placeholder: "Serves" %>
        </div>

        <div class="form-inline d-flex align-items-center col-3 me-3">
          <%= form.label :time_prep, 'Prep time:', class: 'w-75' %>
          <%= time_field(:recipe, :time_prep, value: "00:10", class: "form-control", data: { behavior: "flatpickr" }) %>
          <%#= time_select(:recipe, :time_prep, { prompt: {hour: 'Choose hour', minute: 'Choose minute'}}, { class: 'form-select form-select-sm border mx-2' } ) %>
        </div>


        <div class="form-inline d-flex align-items-center col-3">
          <%= form.label :time_cook, 'Cook time:', class: 'w-75' %>
          <%= time_field(:recipe, :time_prep, value: "00:20", class: "form-control", data: { behavior: "flatpickr" }) %>
          <%#= time_select(:recipe, :time_prep, { prompt: {hour: 'Choose hour', minute: 'Choose minute'}}, { class: 'form-select form-select-sm border mx-2' } ) %>
        </div>
      </div>

      <div class="form-group mt-3">
        <%= form.text_area :time_ps, autofocus: false, class: 'form-control', placeholder: "Time notes ...", data: { controller: "textarea-autogrow" } %>
      </div>

      <h5 class='mt-5'>Nutrition: per serving</h5>
      <div class='d-flex justify-content-around mt-2'>
        <div class="form-group">
          <%= form.label :nutrion_ps_kcal, 'Kcal', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_kcal, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group mx-4">
          <%= form.label :nutrion_ps_fat, 'Fat (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_fat, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group">
          <%= form.label :nutrion_ps_saturates, 'Saturates (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_saturates, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group mx-4">
          <%= form.label :nutrion_ps_carbs, 'Carbs (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_carbs, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group">
          <%= form.label :nutrion_ps_sugar, 'Sugar (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_sugar, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group mx-4">
          <%= form.label :nutrion_ps_fibre, 'Fibre (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_fibre, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group">
          <%= form.label :nutrion_ps_protein, 'Protein (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_protein, autofocus: false, class: 'form-control w-75' %>
        </div>

        <div class="form-group ms-4">
          <%= form.label :nutrion_ps_salt, 'Salt (g)', class: 'mt-3 mb-2' %>
          <%= form.number_field :nutrion_ps_salt, autofocus: false, class: 'form-control w-75' %>
        </div>
      </div>

      <div class='d-flex justify-content-around mt-4'>
        <div class="form-check form-switch mt-3">
          <%= form.label :prep_easy, class: "form-check-label" %>
          <%= form.check_box :prep_easy, autofocus: false, class: 'form-check-input', placeholder: "Easy recipe" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :gluten_free, class: "form-check-label" %>
          <%= form.check_box :gluten_free, autofocus: false, class: 'form-check-input', placeholder: "Gluten free" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :peanut_free, class: "form-check-label" %>
          <%= form.check_box :peanut_free, autofocus: false, class: 'form-check-input', placeholder: "Peanut free" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :sugar_free, class: "form-check-label" %>
          <%= form.check_box :sugar_free, autofocus: false, class: 'form-check-input', placeholder: "Sugar free" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :salt_free, class: "form-check-label" %>
          <%= form.check_box :salt_free, autofocus: false, class: 'form-check-input', placeholder: "Salt free" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :kosher, class: "form-check-label" %>
          <%= form.check_box :kosher, autofocus: false, class: 'form-check-input', placeholder: "Kosher" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :vegan, class: "form-check-label" %>
          <%= form.check_box :vegan, autofocus: false, class: 'form-check-input', placeholder: "Vegan" %>
        </div>

        <div class="form-check form-switch mt-3">
          <%= form.label :vegetarin, class: "form-check-label" %>
          <%= form.check_box :vegetarin, autofocus: false, class: 'form-check-input', placeholder: "Vegetarin" %>
        </div>
      </div>
    </div>


    <div class="actions mt-5">
      <%= form.submit t('global.next'), class: 'btn btn-primary' %>
      or <%= link_to t('global.skip'), next_wizard_path, class: 'text-decoration-none' %>
    </div>
  </div>
  <% end %>
