<%= form_with(model: recipe) do |form| %>
  <div id='errors-recipe'>
    <%= render 'shared/errors', resource: recipe %>
  </div>

  <div class="form-group field mt-3 mb-2">
    <%= form.text_field :title, class: "form-control", placeholder: t('.recipe_title') %>
  </div>

  <div class="d-flex justify-content-between">
    <div class="form-group field mt-3 mb-2 col me-2">
      <%= form.collection_select :category_id, Category.order(:name), :id, :name, { include_blank: true, prompt: t('.select_category') }, class: "form-select" %>
    </div>

    <div class="form-group field mt-3 mb-2 col">
      <%= form.text_field :all_tags, class: "form-control tags_form", id:'choices-multiple-remove-button',
          multiple: true, placeholder: t('.recipe_tags') %>
    </div>
  </div>


  <div class="form-group field mt-3 mb-2">
    <%= form.text_area :description,
                        style: "width: 100%",
                        rows: 8,
                        maxlength: 320,
                        placeholder: 'User Markdown for formatting' %>
    <%#= form.text_area :description, class: "form-control", placeholder: t('.descriptions') %>
  </div>

  <div class="form-group field mt-3 mb-2">
    <%= form.file_field :recipe_image, class: "form-control" %>
  </div>

  <div class="form-group actions mt-4 mb-2">
    <%= link_to t('global.back'), recipes_path, class: "btn btn-light" %>
    <% if @recipe.persisted?%>
      <%= link_to t('global.show'), @recipe, class: "btn btn-secondary" %>
    <% end %>
    <%= form.submit t('global.next'), class: "btn btn-primary" %>
  </div>
<% end %>
