<% recipes.each do |recipe|%>
  <% card_id = controller_name == 'users' && action_name == 'show' ? 'dashboard-card-user' : 'dashboard-card' %>
  <div id=<%= card_id %> class='card' >
    <div class='card-body'>
      <%# if @recipe.recipe_image.present? %>
      <% if recipe.recipe_image.attached? %>
        <%= link_to image_tag(recipe.recipe_image, class: 'recipe-favorite w-100'), recipe %>
      <% else %>
        <%= link_to image_tag("Default_image.png", class: 'recipe-favorite w-100'), recipe %>
      <% end %>
      <% if user_signed_in? && recipe.in_favorite?(current_user) %>
        <span class="fav-span-category">❤️</span>
      <% end %>
      <section class="footer-tags-show">
        <% if recipe.tags.any? %>
          <%#= raw recipe.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge bg-primary text-decoration-none' }.join(' ') %>
          <%= raw recipe.tags.map(&:name).map{ |t| sanitize link_to t, tag_path(t), class: 'bg-custom text-decoration-none' }.join(' ') %>
        <% end %>
      </section>
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title fw-300"><%= link_to recipe.title, recipe, class: 'text-decoration-none text-reset' %></h5>
      <p class="card-text fw-light"><%= link_to truncate("#{markdown(recipe.description)}", length: 100, escape: false), recipe, class: 'text-decoration-none text-reset' %></p>
      <div class='d-flex mt-auto justify-content-between'>
        <div class="fw-lighter"> [<%= recipe.created_at.strftime('%H:%M  %d.%m.%Y') %>]</div>
        <div>
          <%= link_to 'Show', recipe, class: "text-decoration-none text-reset" %>
          <% if user_signed_in?%>
            <% if policy(recipe).edit? %>
              <%= link_to 'Edit', edit_recipe_path(recipe), class: "text-decoration-none text-reset mx-1" %>
              <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none text-reset" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
