<% @recipes.each do |recipe| %>
  <tr>
    <td class="col-1 index_data">
      <%= link_to image_preview(recipe), recipe, style: "width: 100%;" %>
      <% if user_signed_in? && recipe.in_favorite?(current_user) %>
        <span class="fav-span">❤️</span>
      <% end %>
      <section class="footer-tags-index">
        <% if recipe.tags.any? %>
          <%= raw recipe.tags.map(&:name).map{ |t| sanitize link_to t, tag_path(t), class: 'badge bg-primary text-decoration-none' }.join(' ') %>
        <% end %>
      </section>
    </td>
    <td class="col-3"><%= link_to recipe.title, recipe, class: 'text-decoration-none text-reset' %></td>
    <td class="col-4">
      <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <div data-read-more-target="content">
          <%= link_to truncate(markdown(recipe.description), length: 150, escape: false), recipe, class: 'text-decoration-none text-reset' %>
        </div>
        <% if recipe.description&.length > 150 %>
          <button class='btn btn-sm btn-outline-grey' data-action="read-more#toggle">
            Read more
          </button>
        <% end %>
        <template data-read-more-target="full">
          <div class="new-ReadMore">
          <%= link_to markdown(recipe.description), recipe, class: 'text-decoration-none text-reset' %>
          </div>
        </template>
      </div>
    </td>
    <% if recipe.category.present? %>
      <td class="col-4 text-center"><%= link_to recipe.category.name, category_path(recipe.category), class: 'text-decoration-none text-reset'%> </td>
    <% else %>
      <td class="col-4 text-center">
        <%= link_to "Add Category", edit_recipe_path(recipe), class: "btn btn-sm btn-outline-secondary" %>
      </td>
    <% end %>
    <% if recipe.user.blank? %>
      <td class="col-2 text-center"> No author </td>
    <% else %>
      <td class="col-2 text-center"><%= link_to full_name(recipe.user), user_path(recipe.user), class: 'text-decoration-none text-reset' %></td>
    <% end %>
    <% if user_signed_in? && policy(recipe).edit?%>
      <td class='col text-center'><%= link_to t('global.show'), recipe, class: "btn btn-outline-secondary btn-sm" %></td>
      <td class='col text-center'><%= link_to t('global.edit'), edit_recipe_path(recipe), class: "btn btn-outline-primary btn-sm" %></td>
      <td class='col text-center'><%= link_to t('global.delete'), recipe, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td colspan="3" class='col text-center'><%= link_to t('global.show'), recipe, class: "btn btn-outline-secondary btn-sm" %></td>
    <% end %>
  </tr>
<% end %>
