<% recipes.each do |recipe|%>
  <div class='card' id='dashboard-card'>
    <div class='card-body'>
      <%# if @recipe.recipe_image.present? %>
      <% if recipe.recipe_image.attached? %>
        <%= image_tag recipe.recipe_image, class: 'recipe-favorite w-100' %>
      <% else %>
        <%= image_tag "Default_image.png", class: 'recipe-favorite' %>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to recipe.title, recipe, class: 'text-decoration-none text-reset' %></h5>
      <p class="card-text"><%= link_to recipe.description, recipe, class: 'text-decoration-none text-reset' %></p>
      <div class='d-flex justify-content-between'>
        <div class="fw-lighter"> [<%= recipe.created_at.strftime('%H:%M  %d.%m.%Y') %>]</div>
        <div> 
          <%= link_to 'Show', recipe, class: "text-decoration-none text-reset" %> |
          <%= link_to 'Edit', edit_recipe_path(recipe), class: "text-decoration-none text-reset" %> |
          <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-decoration-none text-reset" %>
        </div>
      </div>
    </div>
  </div>
<% end %>