<p id="notice"><%= notice %></p>

<div class='d-flex justify-content-between'>
  <div class='fs-1 fw-bold mt-5 mb-2'><%= t '.welcome' %></h1><%= t '.recipes_title' %></div>
  <div class='d-flex'>
    <div class="form-inline d-flex align-items-center me-1 mt-3">
      <%= form_tag(recipes_path, method: :get) do %>
        <div class="input-group">
          <%= text_field_tag :content, params[:content], autocomplete: 'off', placeholder: t('.find_recipes'), class: 'form-control-sm' %>
          <span class="input-group-append">
            <button class="btn btn-secondary btn" type="submit">
              <span aria-hidden="true" class="fa fa-search"></span>
            </button>
          </span>
        </div>
      <% end %>
    </div>
    <% if user_signed_in? %>
      <div class='d-flex align-items-center mt-3'>
        <% if current_user.admin? %>
          <%= link_to "New Category", new_category_path, class: "btn btn-warning", data: {'bs-toggle' => "tooltip", 'bs-placement' => "top"}, title: "Create new Category" %>
        <% end %>
        <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-primary", data: {'bs-toggle' => "tooltip", 'bs-placement' => "top"}, title: "Create new Recipe" %>
      </div>
    <% end %>
  </div>
</div>


<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col" class="col-1 text-center"><%= t '.preview' %></th>
      <th scope="col" class="col-3"><%= t '.title' %></th>
      <th scope="col" class="col-4 text-center"><%= t '.description' %></th>
      <th scope="col" class="col-1 text-center"><%= t '.category' %></th>
      <th scope="col" class="col-1 text-center"><%= t '.user' %></th>
      <th colspan="3" class='text-center col-2'><%= t '.action' %></th>
    </tr>
  </thead>

  <tbody>
    <%= render 'recipes/recipe', locals: { recipes: @recipes } %>
  </tbody>
</table>

<div class='d-flex justify-content-center'><%= paginate @recipes %></div>


