<div class='container'>
  <div class='row'>
    <h3><strong>Recipe</strong></h3>
    
    <div class='col-md-3 mt-4 recipe_image'>
      <% if @recipe.recipe_image.present? %>
        <%= image_tag @recipe.recipe_image %>
      <% else %>
        <%= image_tag "Default_image.png" %>
      <% end %>
    </div>  

    <div class='col-md-9 mt-4'>
      <strong>Title: </strong><%= @recipe.title %>

      <div class='mt-2'>
        <strong>By:</strong>
        <%= @recipe.user.email %>
      </div>

      <div class='mt-3'>
        # TODO # ratings - 43; Rate; 93 comments; #
      </div>

      <div class='mt-4'>
        <strong>Description:</strong>
        <%= @recipe.description %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='mt-4 col-md-12'>
      <h4><strong>Ingredients:</strong></h4>
      <% if @recipe.ingredients.any? %>
        <%= @recipe.ingredients.each do |ingredient| %>
          </br>
          <strong>Quantity: </strong> <%= ingredient.quantity %>
          </br>
          <strong>Content: </strong> <%= ingredient.content %>
        <% end %>
      <% else %>
        Not specified.
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='mt-4'>
      <h4><strong>Steps:</strong></h4>
      <% if @recipe.steps.any? %>
        <% if @recipe.step_images.present? %>
          <% (0...@recipe.step_images.count).each do |image| %>
            <%= image_tag @recipe.thumbnail(image) %>
            <%#= image_tag @recipe.step_images(image) %>
          <% end %>
        <% end %>
        <div class='mt-4'>
          <% @recipe.steps.each do |step| %>
            <%= step.method %>
          <% end %>
        </div>
      <% else %>
        Not specified.
      <% end %>
    </div>
  </div>
  
  <%= link_to 'Back', recipes_path, class: "btn btn-light mt-4" %>
  <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary mt-4" %>
</div>