<div class='container'>
  <div class='row'>
    <h3><strong>Recipe</strong></h3>
    
    <div class='col-md-3 mt-4 recipe_image'>
      <% if @recipe.recipe_image.present? %>
        <%= image_tag @recipe.recipe_image %>
      <% else %>
        <%= image_tag "Default_image.png" %>
      <% end %>
    </div>  

    <div class='col-md-9 mt-4'>
      <strong>Title: </strong><%= @recipe.title %>

      <div class='mt-2'>
        <strong>By:</strong>
        <%= @recipe.user.username %>
      </div>

      <div class='mt-3 pb-2'>
        Rate: #TODO#;
        <%= @recipe.favorites.count %> favorited; 
        <span class='comment_count'><%= @recipe.comments.count %> commented;</span>
      </div>

      Favorite: <%= link_to favorite_text, favorites_update_path(recipe: @recipe), id: 'favorite_link', class: 'text-decoration-none text-reset mt-3', remote: true %>

      <div class='mt-4'>
        <strong>Description:</strong>
        <%= @recipe.description %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='mt-4 col-md-12'>
      <h4><strong>Ingredients:</strong></h4>
      <% if @recipe.ingredients.any? %>
        <%= @recipe.ingredients.each do |ingredient| %>
          </br>
          <strong>Quantity: </strong> <%= ingredient.quantity %>
          </br>
          <strong>Content: </strong> <%= ingredient.content %>
        <% end %>
      <% else %>
        Not specified.
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='mt-4'>
      <h4><strong>Steps:</strong></h4>
      <% if @recipe.steps.any? %>
        <% if @recipe.step_images.present? %>
          <% (0...@recipe.step_images.count).each do |image| %>
            <%= image_tag @recipe.thumbnail(image) %>
            <%#= image_tag @recipe.step_images(image) %>
          <% end %>
        <% end %>
        <div class='mt-4'>
          <% @recipe.steps.each do |step| %>
            <%= step.method %>
          <% end %>
        </div>
      <% else %>
        Not specified.
      <% end %>
    </div>
  </div>
  </br>

  <%= link_to 'Back', recipes_path, class: "btn btn-light mt-4" %>
  <% if user_signed_in?%>
    <% if policy(@recipe).edit? %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary mt-4" %>
    <% end %>
  <% end %>

<!-- Comments -->
  <div class='errors-comment my-2'></div>

  <div class='field form-group mt-4 offset-1'>
    <% if user_signed_in? %>
      <%= form_with model: [@recipe, @comment], class: 'new_comment', local: false do |f| %>
        <%= f.text_field :body, class: "form-control mb-2", placeholder: 'Add comment...' %>
        <%= f.submit 'Comment', class: "btn btn-secondary"  %>
      <% end %>
    <% else %>
      <div>
        To comment on the recipe, you must <%= link_to 'register', new_user_registration_path, class: "text-decoration-none" %> or 
        <%= link_to 'log in', new_user_session_path, class: "text-decoration-none" %>
      </div>
    <% end%>
  </div>
</br>
  <h4 class='recipe-comment-count'> <%= @recipe.comments.count %> comment(s) </h4> 
  <div class='comment_list mt-2 mb-3'>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    <% end %>
  </div>
</div>