<%= render 'shared/breadcrumb', category: @recipe.category %>

<div class='container'>
  <div class='row'>
    <h3><strong>Recipe</strong></h3>
    
    <div class='col-md-3 mt-4 recipe_image <%= dom_id(@recipe) %>'>
      <% if @recipe.recipe_image.present? %>
        <%= image_tag @recipe.recipe_image %>
      <% else %>
        <%= image_tag "Default_image.png" %>
      <% end %>
      <section class="footer-tags-show">
        <% if @recipe.tags.any? %>
          <%= raw @recipe.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge bg-primary text-decoration-none' }.join(' ') %>
        <% end %>
      </section>
    </div>  

    <div class='col-md-9 mt-4'>
      <strong>Title: </strong><%= @recipe.title %>

      <div class='mt-2'>
        <strong>by:</strong>
        <%= link_to full_name(@recipe.user), edit_user_registration_path, class: "text-decoration-none" %>
      </div>

      <div class='mt-3 pb-2 d-flex'>
        <div class="star-rating">
          <div class="star-rating-front d-flex" style="width: <%= @recipe.review_score_percentage %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
        <div class='mx-2 mt-2'>
          <span><%= @recipe.avg_score %>
            rated <%= link_to recipe_reviews_path(@recipe), class: 'text-decoration-none' do %>
              (<%= @recipe.reviews.count %> Reviews);
            <% end %><span class='fw-light'></span>
          </span>
          <span><%= @recipe.favorites.count %> <span class='fw-light'>favorited</span>;<span>
          <span class='comment_count'><%= @recipe.comments.count %> <span class='fw-light'>commented</span>;</span>
        </div>
      </div>
      
      <div class=''>
        <span>
          Favorite: <%= link_to favorite_text, favorites_update_path(recipe: @recipe), id: 'favorite_link', class: 'text-decoration-none text-reset mt-3', remote: true %>
        </span>
        <% if policy(@recipe).review? %>
          <span>
            <%= link_to 'Write review', '#', class: 'add-review-link text-decoration-none btn btn-link mx-3', style: 'background: ghostwhite;' %>
          </span>
        <% end %>
      </div>

  <!-- Review section-->
      <div class='section-write-review'>
        <% if policy(@recipe).review? %>
          <div class='review-form d-none mt-2'>
            <%= render 'reviews/form', review: @review, recipe: @recipe %>
          </div>
        <% end %>
      </div>

      <div class='mt-4 section-description'>
        <strong>Description:</strong>
        <%= @recipe.description %>
      </div>  
    </div>
  </div>
  
  <div class='row mt-2'>
    <div class='mt-4 col-md-4'>
      <h4 class='text-center'><strong>Ingredients:</strong></h4>
      <% if @recipe.ingredients.any? %>
        <% @recipe.ingredients.each do |ingredient| %>
          <span class='mt-2 mb-1'><%= ingredient.content %></span>
        <% end %>
      <% else %>
        Not specified.
      <% end %>
    </div>

    <div class='mt-4 offset-1 col-md-7'>
      <h4 class='text-center'><strong>Steps:</strong></h4>
      <% if @recipe.steps.any? %>
        <div class='d-flex flex-wrap justify-content-center'>
          <% if @recipe.step_images.present? %>
            <% (0...@recipe.step_images.count).each do |image| %>
              <%= image_tag @recipe.thumbnail(image) %>
            <% end %>
          <% end %>
        </div>
        <div class='mt-4'>
          <% @recipe.steps.each do |step| %>
            <%= step.method %>
          <% end %>
        </div>
      <% else %>
        Not specified.
      <% end %>
    </div>
  </div>
  </br>

  <%= link_to 'Back', recipes_path, class: "btn btn-light mt-4" %>
  <% if user_signed_in?%>
    <% if policy(@recipe).edit? %>
      <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary mt-4" %>
    <% end %>
  <% end %>

<!-- Comments -->

  <div class='field form-group mt-4 offset-1'>
    <div class='errors-comment my-2'></div>
    
    <% if user_signed_in? %>
      <%= form_with model: [@recipe, @comment], class: 'new_comment', local: false do |f| %>
        <%= f.text_field :body, class: "form-control mb-2", placeholder: 'Add comment...' %>
        <%= f.submit 'Comment', class: "btn btn-secondary"  %>
      <% end %>
    <% else %>
      <div>
        To comment on the recipe, you must <%= link_to 'register', new_user_registration_path, class: "text-decoration-none" %> or 
        <%= link_to 'log in', new_user_session_path, class: "text-decoration-none" %>
      </div>
    <% end%>
  </div>
</br>
  <h4 class='recipe-comment-count'> <%= @recipe.comments.count %> comment(s) </h4> 
  <div class='comment_list mt-2 mb-3'>
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    <% end %>
  </div>
</div>