<div class="show-body row py-5 px-4">
  <div class="col-md-7 mx-auto">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-2 cover">
        <div class="d-flex p-3 align-items-end profile-head">
            <div class="profile me-3">
              <div class=''>
                <%= image_tag user_avatar(@user, 140), class: "rounded mb-2 img-thumbnail" %>
              </div>
              <div class='mt-1 d-flex'>
                <% if current_user.id == @user.id %>
                  <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-dark btn-sm btn-block" %>
                <% end %>
              </div>
            </div>
            <div class="p-3 mb-5 mx-4 text-white">
              <div class=''>
                <h3><%= full_name(@user) %></h3>
              </div>
              <div class="small mb-4">
                <i class="fas fa-envelope me-2 fw-light">
                  <span class='mx-1 fw-light'><%= @user.email %><span>
                </i>
              </div>
            </div>
        </div>
      </div>
      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block"><%= @user.recipes.count %></h5><small class="text-muted"> <i class="fas fa-hamburger"></i></i> Recipes</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block"><%= @user.reviews.count %></h5><small class="text-muted"> <i class="far fa-file-alt"></i></i> Reviews</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block"><%= @user.comments.count %></h5><small class="text-muted"> <i class="far fa-comments"></i> Comments</small>
            </li>
            <!---
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
            </li>
            -->
        </ul>
      </div>
      <div class="px-4 py-3">
        <h5 class="mb-0">About</h5>
        <div class="p-4 rounded shadow-sm bg-light">
            <p class="font-italic mb-0"><%= @user.about %></p>
        </div>
      </div>
      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="mb-0">Recent recipes</h5>
            <%= link_to 'Show all', recipes_user_path(@user), class: 'btn btn-link text-muted' %>
        </div>
        <div class="row justify-content-center">
          <% if @recent_recipes.any? %>
            <%= render partial: 'recipes/recipe_dashboard', locals: { recipes: @recent_recipes } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
