<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <button aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarMain" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to root_path, class: "logo-img nav-link #{'active' if controller_name == 'dashboard'}" do %>
            <%= image_tag("Logo_mini.png").html_safe %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "Recipes", recipes_path, class: "nav-link #{'active' if controller_name == 'recipes' && action_name == 'index'}" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to_if(user_signed_in?, "New Recipes", new_recipe_path, { class: "nav-link #{'active' if controller_name == 'recipes' && action_name == 'new'}"}) %>
          </li>
          <li class="nav-item">
            <%= link_to "Favorites", recipes_favorites_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= link_to "#", class: "nav-link dropdown-toggle", id: "navbarDropdown", role: "button", 'data-bs-toggle' => "dropdown", aria: { expanded: "false", haspopup: true }  do %>
              <%=image_tag gravatar_image_url(current_user.email, size: 40, secure: true), height: 20, width: 20, class: "rounded" %>
              <%= current_user.email %>  
            <% end %>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right" id="nav-account-dropdown">
              <li>
                <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
              </li>
              <li class="dropdown-divider"></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
