<div class='mb-2 mt-2'>
  <h3 class='fw-light' style='letter-spacing: 3px;'><%= t '.tags_cloud' %></h3>
  <div id="myCanvasContainer" class='mt-3'>
    <canvas width="250" height="250" id="myCanvas">
      <div id="tags">
        <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </canvas>
  </div>
</div>

<div class='mt-4'>
  <h3 class='fw-light' style='letter-spacing: 3px;'><%= t '.categories' %></h3>
  <ul class='nav nav-pills flex-column'>
    <% Category.roots.each do |category| %>
      <li class='nav-item'>
        <%= link_to category.name, category, class: "hover-zoom fw-300 nav-link #{'active' if current_page?(category_path(category)) || @recipe.present? && @recipe.category == category}" %>
        <%= render 'shared/submenu_categories', categories: category.root.descendants.arrange %>
      </li>
    <% end %>
  </ul>
</div>
