<div class="col-lg-4 col-md-6 mx-auto mt-4">
  <h1 class="text-center">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group mt-4">
      <%= f.text_field :login, autofocus: true, placeholder: 'Username or Email Address', class: 'form-control' %>
    </div>

    <div class="form-group mt-3">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-check mt-2">
        <label class="form-check-label">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          Remember me
        </label>
      </div>
    <% end -%>

    <div class="form-group mt-4">
      <%= render "devise/shared/links" %>
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
